# This requirements file is provided for building the python 2.7 environment that
# hosts the ffbo.nlp_component. Installation of this requires
# conda install numpy
# pip install -r requirements.txt
attrs==20.3.0
autobahn==19.11.2
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.5
click==7.1.2
cloudpickle==1.3.0
configparser==4.0.2
constantly==15.1.0
cryptography==3.3.2
cymem==1.31.2
cytoolz==0.8.2
datadiff==2.0.0
docopt==0.6.2
enum34==1.1.10
flexmock==0.10.4
fuzzywuzzy==0.18.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
ipaddress==1.0.23
isodate==0.6.0
joblib==0.14.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
murmurhash==0.26.4
nltk==3.5
numpy==1.16.6
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==1.10.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-Levenshtein==0.12.2
rdflib==5.0.0
REfO==0.13
regex==2020.11.13
semver==2.13.0
service-identity==18.1.0
six==1.15.0
spacy==1.6.0
SPARQLWrapper==1.8.5
sputnik==0.9.3
thinc==6.2.0
toolz==0.10.0
tqdm==4.57.0
Twisted==20.3.0
txaio==18.8.1
typing==3.7.4.3
ujson==2.0.3
zope.interface==5.2.0
